<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <typeAlias alias="ISearchEngineConfiguration" type="SearchEngine.Contract.ISearchEngineConfiguration, SearchEngine.Contract" />
    <typeAlias alias="GoogleSearchEngineConfiguration" type="SearchEngine.Implementation.Configuration.GoogleSearchEngineConfiguration, SearchEngine.Implementation" />
    <typeAlias alias="BingSearchEngineConfiguration" type="SearchEngine.Implementation.Configuration.BingSearchEngineConfiguration, SearchEngine.Implementation" />
    <typeAlias alias="YandexSearchEngineConfiguration" type="SearchEngine.Implementation.Configuration.YandexSearchEngineConfiguration, SearchEngine.Implementation" />

    <typeAlias alias="ISearchResultLoader" type="SearchEngine.Contract.ISearchResultLoader, SearchEngine.Contract" />
    <typeAlias alias="BaseSearchResultLoader" type="SearchEngine.Implementation.Loaders.BaseSearchResultLoader, SearchEngine.Implementation" />
    <typeAlias alias="GoogleSearchResultLoader" type="SearchEngine.Implementation.Loaders.GoogleSearchResultLoader, SearchEngine.Implementation" />
    <typeAlias alias="BingSearchResultLoader" type="SearchEngine.Implementation.Loaders.BingSearchResultLoader, SearchEngine.Implementation" />
    <typeAlias alias="YandexSearchResultLoader" type="SearchEngine.Implementation.Loaders.YandexSearchResultLoader, SearchEngine.Implementation" />

    <typeAlias alias="ISearchResultParser" type="SearchEngine.Contract.ISearchResultParser, SearchEngine.Contract" />
    <typeAlias alias="BaseSearchResultParser" type="SearchEngine.Implementation.Parsers.BaseSearchResultParser, SearchEngine.Implementation" />
    <typeAlias alias="GoogleSearchResultParser" type="SearchEngine.Implementation.Parsers.GoogleSearchResultParser, SearchEngine.Implementation" />
    <typeAlias alias="BingSearchResultParser" type="SearchEngine.Implementation.Parsers.BingSearchResultParser, SearchEngine.Implementation" />
    <typeAlias alias="YandexSearchResultParser" type="SearchEngine.Implementation.Parsers.YandexSearchResultParser, SearchEngine.Implementation" />
    
    <typeAlias alias="ISearchResultSaver" type="SearchEngine.Contract.ISearchResultSaver, SearchEngine.Contract" />
    <typeAlias alias="CommonSearchResultSaver" type="SearchEngine.Implementation.Savers.CommonSearchResultSaver, SearchEngine.Implementation" />

    <typeAlias alias="ISearchEngine" type="SearchEngine.Contract.ISearchEngine, SearchEngine.Contract" />
    <typeAlias alias="SearchEngine" type="SearchEngine.Implementation.SearchEngine, SearchEngine.Implementation" />
    
  </typeAliases>
  
  <container>
    <types>
      <type type="ISearchEngineConfiguration" mapTo="GoogleSearchEngineConfiguration" name="GoogleSearchEngineConfiguration">
        <lifetime type="singleton"/>
      </type>
      <type type="ISearchEngineConfiguration" mapTo="BingSearchEngineConfiguration" name="BingSearchEngineConfiguration">
        <lifetime type="singleton"/>
      </type>
      <type type="ISearchEngineConfiguration" mapTo="YandexSearchEngineConfiguration" name="YandexSearchEngineConfiguration">
        <lifetime type="singleton"/>
      </type>

      <type type="ISearchResultLoader" mapTo="GoogleSearchResultLoader" name="GoogleSearchResultLoader">
        <lifetime type="singleton"/>
      </type>
      <type type="ISearchResultLoader" mapTo="BingSearchResultLoader" name="BingSearchResultLoader">
        <lifetime type="singleton"/>
      </type>
      <type type="ISearchResultLoader" mapTo="YandexSearchResultLoader" name="YandexSearchResultLoader">
        <lifetime type="singleton"/>
      </type>

      <type type="ISearchResultParser" mapTo="GoogleSearchResultParser" name="GoogleSearchResultParser">
        <lifetime type="singleton"/>
      </type>
      <type type="ISearchResultParser" mapTo="BingSearchResultParser" name="BingSearchResultParser">
        <lifetime type="singleton"/>
      </type>
      <type type="ISearchResultParser" mapTo="YandexSearchResultParser" name="YandexSearchResultParser">
        <lifetime type="singleton"/>
      </type>

      <type type="ISearchResultSaver" mapTo="CommonSearchResultSaver" name="CommonSearchResultSaver">
        <lifetime type="singleton"/>
      </type>
    </types>

    <register type="SearchEngine.Implementation.Configuration.GoogleSearchEngineConfiguration, SearchEngine.Implementation" name="GoogleSearchEngineConfiguration">
      <lifetime type="singleton" />
      <constructor>
        <param name="keyApi" value="AIzaSyDjQiWzROFIr0bwpi36UP7ofp5I1uNuTr4" />
      </constructor>
    </register>

    <register type="SearchEngine.Implementation.Configuration.BingSearchEngineConfiguration, SearchEngine.Implementation" name="BingSearchEngineConfiguration">
      <lifetime type="singleton" />
      <constructor>
        <param name="keyApi" value="1234567890_BingAPIKEY" />
      </constructor>
    </register>

    <register type="SearchEngine.Implementation.Configuration.YandexSearchEngineConfiguration, SearchEngine.Implementation" name="YandexSearchEngineConfiguration">
      <lifetime type="singleton" />
      <constructor>
        <param name="keyApi" value="1234567890_YandexAPIKEY" />
      </constructor>
    </register>

    <register type="SearchEngine.Implementation.SearchEngine, SearchEngine.Implementation" name="GoogleSearchEngine">
      <lifetime type="singleton" />
      <constructor>
        <param name="searchEngineName" value="Google" />
        <param name="configuration" >
          <dependency name="GoogleSearchEngineConfiguration"/>
        </param>
        <param name="loader" >
          <dependency name="GoogleSearchResultLoader"/>
        </param>
        <param name="parser" >
          <dependency name="GoogleSearchResultParser"/>
        </param>
        <param name="saver" >
          <dependency name="CommonSearchResultSaver"/>
        </param>
      </constructor>
    </register>

    <register type="SearchEngine.Implementation.SearchEngine, SearchEngine.Implementation" name="BingSearchEngine">
      <lifetime type="singleton" />
      <constructor>
        <param name="searchEngineName" value="Bing" />
        <param name="configuration" >
          <dependency name="BingSearchEngineConfiguration"/>
        </param>
        <param name="loader" >
          <dependency name="BingSearchResultLoader"/>
        </param>
        <param name="parser" >
          <dependency name="BingSearchResultParser"/>
        </param>
        <param name="saver" >
          <dependency name="CommonSearchResultSaver"/>
        </param>
      </constructor>
    </register>

    <register type="SearchEngine.Implementation.SearchEngine, SearchEngine.Implementation" name="YandexSearchEngine">
      <lifetime type="singleton" />
      <constructor>
        <param name="searchEngineName" value="Yandex" />
        <param name="configuration" >
          <dependency name="YandexSearchEngineConfiguration"/>
        </param>
        <param name="loader" >
          <dependency name="YandexSearchResultLoader"/>
        </param>
        <param name="parser" >
          <dependency name="YandexSearchResultParser"/>
        </param>
        <param name="saver" >
          <dependency name="CommonSearchResultSaver"/>
        </param>
      </constructor>
    </register>

  </container>
  
</unity>